In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("C:\\Users\\asd\\Downloads\\covid_toy.csv")

In [4]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [5]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [6]:
df=df.dropna()
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
lb=LabelEncoder()

In [17]:
df['gender']=lb.fit_transform(df['gender'])
df['cough']=lb.fit_transform(df['cough'])
df['city']=lb.fit_transform(df['city'])
df['has_covid']=lb.fit_transform(df['has_covid'])

In [18]:
df.head(2)

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     2          0
1   27       1  100.0      0     1          1

In [19]:
x=df.drop(columns=['has_covid'])  
x.shape

(90, 5)

In [20]:
y=df['has_covid']  ## target data
y.shape

(90,)

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
x_train , x_test , y_train , y_test= train_test_split(x,y,test_size=0.2, random_state=42)

In [23]:
from sklearn.preprocessing import StandardScaler

In [24]:
sc=StandardScaler()

In [25]:
x_train_sc=sc.fit_transform(x_train)

In [26]:
np.round(x_train.describe(),1)

        age  gender  fever  cough  city
count  72.0    72.0   72.0   72.0  72.0
mean   43.5     0.4  100.7    0.3   1.2
std    25.3     0.5    2.1    0.5   1.0
min     5.0     0.0   98.0    0.0   0.0
25%    19.8     0.0   99.0    0.0   0.0
50%    47.0     0.0  101.0    0.0   1.0
75%    65.2     1.0  102.2    1.0   2.0
max    83.0     1.0  104.0    1.0   3.0