In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("C:\\Users\\asd\\Downloads\\fashion_products.csv")

In [3]:
df.head(3)

,User ID,Product ID,Product Name,Brand,Category,Price,Rating,Color,Size
0,19,1,Dress,Adidas,Men's Fashion,40,1.043159,Black,XL
1,97,2,Shoes,H&M,Women's Fashion,82,4.026416,Black,L
2,25,3,Dress,Adidas,Women's Fashion,44,3.337938,Yellow,XL

In [4]:
df.isnull().sum()

User ID         0
Product ID      0
Product Name    0
Brand           0
Category        0
Price           0
Rating          0
Color           0
Size            0
dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
lb=LabelEncoder()

In [7]:
df['Product Name']=lb.fit_transform(df['Product Name'])
df['Brand']=lb.fit_transform(df['Brand'])
df['Category']=lb.fit_transform(df['Category'])
df['Color']=lb.fit_transform(df['Color'])
df['Size']=lb.fit_transform(df['Size'])

In [8]:
df.sample(3)

,User ID,Product ID,Product Name,Brand,Category,Price,Rating,Color,Size
469,76,470,4,0,0,34,4.638343,1,2
109,22,110,3,1,2,33,4.665058,1,3
847,78,848,2,3,0,31,3.763596,4,0

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
sc=StandardScaler()

In [11]:
from sklearn.model_selection import train_test_split

In [13]:
x=df.drop(columns=['Rating'])
y=df['Rating']

In [17]:
x_train , x_test , y_train , y_test= train_test_split(x,y,test_size=0.2, random_state=42)

In [18]:
x_train_sc=sc.fit_transform(x_train)

In [19]:
np.round(x_train.describe(),1)

       User ID  Product ID  Product Name  Brand  Category  Price  Color   Size
count    800.0       800.0         800.0  800.0     800.0  800.0  800.0  800.0
mean      51.6       498.4           2.0    2.0       1.0   55.2    2.6    1.5
std       28.8       289.5           1.4    1.4       0.8   26.2    1.7    1.1
min        1.0         1.0           0.0    0.0       0.0   10.0    0.0    0.0
25%       28.8       242.8           1.0    1.0       0.0   32.0    1.0    1.0
50%       52.0       494.5           2.0    2.0       1.0   56.0    3.0    2.0
75%       76.0       751.2           3.0    3.0       2.0   78.0    4.0    3.0
max      100.0      1000.0           4.0    4.0       2.0  100.0    5.0    3.0

In [20]:
from sklearn.preprocessing import MinMaxScaler

In [21]:
mn=MinMaxScaler()

In [22]:
x_train_mn=mn.fit_transform(x_train)

In [23]:
x_train_new=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [25]:
np.round(x_train_new.describe(),2)

,User ID,Product ID,Product Name,Brand,Category,Price,Color,Size
count,800.00,800.00,800.00,800.00,800.00,800.00,800.00,800.00
mean,0.51,0.50,0.51,0.51,0.49,0.50,0.52,0.51
std,0.29,0.29,0.35,0.36,0.41,0.29,0.34,0.38
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.28,0.24,0.25,0.25,0.00,0.24,0.20,0.33
50%,0.52,0.49,0.50,0.50,0.50,0.51,0.60,0.67
75%,0.76,0.75,0.75,0.75,1.00,0.76,0.80,1.00
max,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

In [26]:
from sklearn.linear_model import LinearRegression

In [27]:
lr= LinearRegression()

In [28]:
lr.fit(x_train,y_train)

LinearRegression()

In [29]:
y_pred= lr.predict(x_test)

In [35]:
from sklearn.metrics import r2_score

In [36]:
r2_score(y_test,y_pred)

-0.03972928349166471

In [37]:
df=pd.read_csv("C:\\Users\\asd\\Downloads\\titanic.csv")

In [38]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [39]:
df=df.dropna()

In [51]:
df['Name']=lb.fit_transform(df['Name'])
df['Sex']=lb.fit_transform(df['Sex'])
df['Cabin']=lb.fit_transform(df['Cabin'])
df['Embarked']=lb.fit_transform(df['Embarked'])
df['Ticket']=lb.fit_transform(df['Ticket'])

In [52]:
df.sample(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
272,1164,1,1,19,0,26.0,1,0,23,136.7792,45,0
305,1197,1,1,24,0,64.0,1,1,4,26.5500,9,2
407,1299,0,1,84,1,50.0,1,1,8,211.5000,42,0

In [53]:

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87 entries, 12 to 414
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  87 non-null     int64
 1   Survived     87 non-null     int64
 2   Pclass       87 non-null     int64
 3   Name         87 non-null     int64
 4   Sex          87 non-null     int64
 5   Age          87 non-null     float64
 6   SibSp        87 non-null     int64
 7   Parch        87 non-null     int64
 8   Ticket       87 non-null     int32
 9   Fare         87 non-null     float64
 10  Cabin        87 non-null     int64
 11  Embarked     87 non-null     int64
dtypes: float64(2), int32(1), int64(9)
memory usage: 8.5 KB

In [54]:
x=df.drop(columns=['Survived'])
y=df['Survived']

In [55]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [56]:
sc=StandardScaler()

In [57]:
x_train_sc=sc.fit_transform(x_train)

In [60]:
np.round(x_train.describe(),2)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,69.00,69.00,69.00,69.00,69.00,69.00,69.00,69.00,69.00,69.00,69.00
mean,1097.49,1.13,43.87,0.51,39.74,0.58,0.52,32.36,87.27,35.46,0.83
std,120.16,0.45,25.00,0.50,14.69,0.58,0.92,18.54,71.19,20.82,0.98
min,906.00,1.00,0.00,0.00,1.00,0.00,0.00,1.00,0.00,0.00,0.00
25%,992.00,1.00,24.00,0.00,28.50,0.00,0.00,18.00,31.68,18.00,0.00
50%,1088.00,1.00,43.00,1.00,41.00,1.00,0.00,31.00,61.98,37.00,0.00
75%,1200.00,1.00,65.00,1.00,50.00,1.00,1.00,49.00,108.90,53.00,2.00
max,1306.00,3.00,86.00,1.00,67.00,2.00,4.00,65.00,263.00,71.00,2.00

In [61]:
mn=MinMaxScaler()

In [62]:
x_train_mn = mn.fit_transform(x_train)

In [64]:
x_train_new=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [66]:
np.round(x_train_new.describe(),2)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,69.00,69.00,69.00,69.00,69.00,69.00,69.00,69.00,69.00,69.00,69.00
mean,0.48,0.07,0.51,0.51,0.59,0.29,0.13,0.49,0.33,0.50,0.41
std,0.30,0.23,0.29,0.50,0.22,0.29,0.23,0.29,0.27,0.29,0.49
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.21,0.00,0.28,0.00,0.42,0.00,0.00,0.27,0.12,0.25,0.00
50%,0.46,0.00,0.50,1.00,0.61,0.50,0.00,0.47,0.24,0.52,0.00
75%,0.73,0.00,0.76,1.00,0.74,0.50,0.25,0.75,0.41,0.75,1.00
max,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

In [67]:
from sklearn.linear_model import LogisticRegression

In [68]:
lr=LogisticRegression()

In [69]:
lr.fit(x_train,y_train)

C:\ProgramData\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [70]:
y_pred= lr.predict(x_test)

In [71]:
from sklearn.metrics import accuracy_score

In [72]:
accuracy_score(y_test,y_pred)

1.0