In [1]:
# complete data > divide

# 100 studet  70 student train --> 30 student test

# df -> x(input data) + y(target data)
# x-> x_train + x_test
# y-> y_train + y_test

# machine(x_train,y_train)
# machine (x_test)--> output ????---> Predictio_data(y_pred)
#Actual output (y_test)

In [ ]:
# Data ---> x(input) , y(target) 
# x ---> x_train , x_test 
# y ---> y_train , y_test 

# Why we split our data into train and test ? 
# Machine ---> learn (training phase)---> what is relation between input and target . 
# Machine(test_data) --> prediction 

#training phase(# 2+2 =4
# 3+2 = 5
# 6+2 = 8)
# machine(10+2 ?? , 15+3 = ?)
# Output_prediction = 13 , 19 
# Actual_output = 12 , 18

In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('C:\\Users\\asd\\Downloads\\placement.csv')

In [5]:
df.head(3)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1

In [6]:
df.shape

(100, 3)

In [8]:
x= df.drop(columns= ['placed']) #input data
x.shape

(100, 2)

In [10]:
y = df['placed']
y.shape

(100,)

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train , x_test, y_train ,y_test = train_test_split( x,
                                                    y,
                                                    test_size=0.2,
                                                    random_state=42
                                                    )

In [16]:
print("Total DF: " , df.shape)
print("--------------------------------" )
print("Input data shape(x): " , x.shape)
print("x_train data shape: " , x_train.shape)
print("x_test data shape: " , x_test.shape)
print("--------------------------------" )
print("Target data shape(y): " , y.shape)
print("y_train data shape: " , y_train.shape)
print("y_test data shape: " , y_test.shape)

Total DF:  (100, 3)
--------------------------------
Input data shape(x):  (100, 2)
x_train data shape:  (80, 2)
x_test data shape:  (20, 2)
--------------------------------
Target data shape(y):  (100,)
y_train data shape:  (80,)
y_test data shape:  (20,)

In [17]:
df=pd.read_csv('C:\\Users\\asd\\Downloads\\covid_toy.csv')

In [18]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [19]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [25]:
df=df.dropna()
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [26]:
x= df.drop(columns= ['has_covid']) #input
x.shape

(90, 5)

In [28]:
y= df['has_covid']
y.shape

(90,)

In [29]:
x_train , x_test, y_train ,y_test = train_test_split( x,
                                                    y,
                                                    test_size=0.2,
                                                    random_state=42
                                                    )

In [30]:
print("Total DF: " , df.shape)
print("--------------------------------" )
print("Input data shape(x): " , x.shape)
print("x_train data shape: " , x_train.shape)
print("x_test data shape: " , x_test.shape)
print("--------------------------------" )
print("Target data shape(y): " , y.shape)
print("y_train data shape: " , y_train.shape)
print("y_test data shape: " , y_test.shape)

Total DF:  (90, 6)
--------------------------------
Input data shape(x):  (90, 5)
x_train data shape:  (72, 5)
x_test data shape:  (18, 5)
--------------------------------
Target data shape(y):  (90,)
y_train data shape:  (72,)
y_test data shape:  (18,)

In [31]:
df=pd.read_csv('C:\\Users\\asd\\OneDrive\\Desktop\\REGex\\advace pytho\\titanic.csv')

In [32]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [33]:
df.shape

(418, 12)

In [34]:
x= df.drop(columns= ['Survived'])
x.shape

(418, 11)

In [35]:
y = df['Survived']
y.shape

(418,)

In [36]:
x_train , x_test, y_train ,y_test = train_test_split( x,
                                                    y,
                                                    test_size=0.2,
                                                    random_state=42
                                                    )

In [37]:
print("Total DF: " , df.shape)
print("--------------------------------" )
print("Input data shape(x): " , x.shape)
print("x_train data shape: " , x_train.shape)
print("x_test data shape: " , x_test.shape)
print("--------------------------------" )
print("Target data shape(y): " , y.shape)
print("y_train data shape: " , y_train.shape)
print("y_test data shape: " , y_test.shape)

Total DF:  (418, 12)
--------------------------------
Input data shape(x):  (418, 11)
x_train data shape:  (334, 11)
x_test data shape:  (84, 11)
--------------------------------
Target data shape(y):  (418,)
y_train data shape:  (334,)
y_test data shape:  (84,)

In [38]:
df=pd.read_csv('C:\\Users\\asd\\OneDrive\\Desktop\\REGex\\advace pytho\\new_tips.csv')

In [39]:
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [40]:
df.shape

(244, 7)

In [41]:
x = df.drop(columns= ['total_bill'])
x.shape

(244, 6)

In [42]:
y= df['total_bill']
y.shape

(244,)

In [43]:
x_train , x_test, y_train ,y_test = train_test_split( x,
                                                    y,
                                                    test_size=0.2,
                                                    random_state=42
                                                    )

In [44]:
print("Total DF: " , df.shape)
print("--------------------------------" )
print("Input data shape(x): " , x.shape)
print("x_train data shape: " , x_train.shape)
print("x_test data shape: " , x_test.shape)
print("--------------------------------" )
print("Target data shape(y): " , y.shape)
print("y_train data shape: " , y_train.shape)
print("y_test data shape: " , y_test.shape)

Total DF:  (244, 7)
--------------------------------
Input data shape(x):  (244, 6)
x_train data shape:  (195, 6)
x_test data shape:  (49, 6)
--------------------------------
Target data shape(y):  (244,)
y_train data shape:  (195,)
y_test data shape:  (49,)

In [45]:
df=pd.read_csv('C:\\Users\\asd\\Downloads\\Attrition.csv')

In [46]:
df.head(3)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0

In [47]:
df.shape

(1470, 35)

In [48]:
x= df.drop(columns=['Attrition'])
x.shape

(1470, 34)

In [50]:
y= df['Attrition']
y.shape

(1470,)

In [51]:
x_train , x_test, y_train ,y_test = train_test_split( x,
                                                    y,
                                                    test_size=0.2,
                                                    random_state=42
                                                    )

In [52]:
print("Total DF: " , df.shape)
print("--------------------------------" )
print("Input data shape(x): " , x.shape)
print("x_train data shape: " , x_train.shape)
print("x_test data shape: " , x_test.shape)
print("--------------------------------" )
print("Target data shape(y): " , y.shape)
print("y_train data shape: " , y_train.shape)
print("y_test data shape: " , y_test.shape)

Total DF:  (1470, 35)
--------------------------------
Input data shape(x):  (1470, 34)
x_train data shape:  (1176, 34)
x_test data shape:  (294, 34)
--------------------------------
Target data shape(y):  (1470,)
y_train data shape:  (1176,)
y_test data shape:  (294,)

In [53]:
df=pd.read_csv('C:\\Users\\asd\\Downloads\\supply_chain.csv')

In [55]:
df.head(3)

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282

In [57]:
x= df.drop(columns=['Defect rates'])
x.shape

(100, 23)

In [58]:
y = df['Defect rates']
y.shape

(100,)

In [59]:
x_train , x_test, y_train ,y_test = train_test_split( x,
                                                    y,
                                                    test_size=0.2,
                                                    random_state=42
                                                    )

In [60]:
print("Total DF: " , df.shape)
print("--------------------------------" )
print("Input data shape(x): " , x.shape)
print("x_train data shape: " , x_train.shape)
print("x_test data shape: " , x_test.shape)
print("--------------------------------" )
print("Target data shape(y): " , y.shape)
print("y_train data shape: " , y_train.shape)
print("y_test data shape: " , y_test.shape)

Total DF:  (100, 24)
--------------------------------
Input data shape(x):  (100, 23)
x_train data shape:  (80, 23)
x_test data shape:  (20, 23)
--------------------------------
Target data shape(y):  (100,)
y_train data shape:  (80,)
y_test data shape:  (20,)

## Assignment

In [61]:
# git hub par 
# ek project ka ek super user/admin
# baki logo ka admin accesss dega